<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtpi8-XeEHysfp54nO1pACQnoQtWVUaP4</string>
	<key>GCM_SENDER_ID</key>
	<string>307354088058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.affluora.nulookapp</string>
	<key>PROJECT_ID</key>
	<string>nulook-57c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>nulook-57c3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307354088058:ios:23b889496f79b6c1a741c3</string>
</dict>
</plist>